@{
    ViewData["Title"] = "Cars";
}
<h2>@ViewData["Title"]</h2>

<ul class="brands">
    <li>Datsun 240z</li>
    <li>Subaru WRX STI</li>
    <li>Dodge Chanllenger SRT Hellcat</li>
    <li>Honda Type R</li>
    <li>Honda Acura NSX</li>
    <li>Maserati Granturisma MC Stradale</li>
    <li>Nissan GTR</li>
</ul>