@{
    ViewData["Title"] = "Delete";
}

<form action="" methode="post">
    <label>Numberplate</label>
    <input type="text">

    <label>Owner</label>
    <select>
        <option>No owner</option>
    </select>

    <label>Car</label>
    <select>
        <option></option>
    </select>
</form>
