@{
    ViewData["Title"] = "New/Edit";
}

<form action="" methode="post">
    <label>License plate</label>
    <input type="text">

    <label>Purchase Date</label>
    <input type="">

    <label>Owner</label>
    <select>
        <option>No owner</option>
    </select>

    <label>Car</label>
    <select>
        <option></option>
    </select>
</form>
