@model OwnerViewModel

@{
    ViewData["Title"] = "Owners";
}
<h2>@ViewData["Title"]</h2>

<ul class="owners">
    <li>Kristel Pire</li>
    <li>Charoice XII</li>
    <li>Nina Drango</li>
    <li>Sakura Haruno</li>
    <li>Sasuske Uchiha</li>
    <li>Evan Hansen</li>
</ul>